@import '@styles/variables/pallete.css';

.header {
  background-color: var(--color-header-background);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .header {
    height: 60px;
  }
}