:root {
  --color-button-outline: rgba(33, 33, 33, 0.2);
  --color-outline-button-hover: rgba(33, 33, 33, 0.1);
  --color-bg-button-gold-hover: #c7930f;
  --color-bg-button-blue-hover: rgb(81, 149, 204);
}